/* You can add global styles to this file, and also import other style files */
* {
  background-image: url('assets/fundo.png') ;
  padding: 0px;
  margin: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
